html {
font-family: Arial, sans-serif;
}
body{
    background-image: url(image/img/background.png);
}
header ul li {
    list-style-type: none;
    float: right; 
    color: #FFF;
    padding: 1em;
}
li:hover{
    background-color: #EB43A3;
}
a {
   text-decoration: none; 
   color: #FFF;
}
a:hover{
    background-color: #EB43A3;
}
ul{
    margin: -55px 0 50px 0;
}
#logo {
    background-color: #C55394;
    width: 100%;
    height: 25px;
    padding: 1em;
    color: #FFF;
    font-family: 'Courgette', cursive;
}
#titre {
background-image: url(image/img/rainbow.png);
height: 10em;
background-position: center;
background-repeat: no-repeat;
padding-top: 120px;
text-align: center;
}

h1 {
    color:#C55394;
    font-family: 'Courgette', cursive;
}
h2, h3 {
    color:#EB43A3;
    font-family: 'Courgette', cursive;
}
img {
    width: 20%;
}
iframe{
    width: 40%;
}
#contenu {
    margin: 0 15% 0 15%;
    background-color: #FFF;
    box-shadow: ;
}
#adresse {
    margin: -400px 0 400px 50%;
}
footer{
    background-color: #C55394;
    width: 100%;
    height: 50px;
    text-align: right;
    color:#FFF;
    padding: 20px 20px 0 0;
}
